body {
    font-family: sans-serif;
}

.pokemons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    padding: 5px 10px;
    text-align: center;
}

.pagination {
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
}

.pagination-btn {
    margin: 2px 4px;
}

.pagination-btn.active {
    background-color: yellow;
}