<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="/">Главная страница</a>
    <a href="/o-nas">О нас</a>
    <a href="/novosti">Новости</a>
    <a href="/kontakti">Контакты</a>
    {{#if headline}}
        <h1>{{ headline }}</h1>
    {{/if}}
    {{{ body }}}
</body>
</html>